body{
}

/*
	profile
*/
@media screen and ( max-width: 786px){
	#profile-toggle button{
		display: none;
	}
}
#profile-toggle button{
	display: inline ;
	position: fixed ;
	margin-top: 20px ;
	z-index: 3;
	background: none;
	border: none;
	/*
				choice
	*/
	color: grey;
}

#profile-toggle button:hover{
	/*
				choice
	*/
	background-color: #fff;
}

#profile{
z-index: 2;
position: fixed;
width: 225px;
float: left ;
margin-top: 20px ;
text-align: center;
	/*
				choice
	*/
background-color: #fff;
}

.header img{
padding: auto;
margin: auto;
}

#profile .break{
height: 50px;
}

.navigation{
}

/*
	jumbotron	
*/

.jumbotron{
z-index: 1;
height: 100vh;
background-image:url("../images/about3.jpg");
background-position: center ;
-webkit-background-size: cover;
-moz-background-size: cover ;
background-size: cover ;
-o-background-size: cover ;
background-repeat: no-repeat;
}

.jumbotron #jumbotron-content{
	margin-top: 30%;
}

.jumbotron .break{
	height: 2px;
	width: 80%;
	margin: auto;
	/*
				choice
	*/
	background-color: #fff;
}

.jumbotron ul{
	margin-top: 20px ;
}

.jumbotron .btn{
	border-radius: 50%;
	padding: 2px;
	/*
				choice
	*/
	color: #fff;
	background: #000 ;
}

.jumbotron .btn:hover{
	color: #000 ;
	background: #fff;
}

/*
Portfolio
*/
.portfolio .project {
	border-left: solid;
	border-color: #000 ;
}

#codePen a{
	margin: -2px ;
}
#codePen img{
	display: inline ;
	margin: 0px ;
	width: 30% ;
}


/*footer*/
.footer{
	margin-top: 10px ;
	height:100px;
}

