body{
background-image: url("../images/about5.jpg") ;
background-repeat: no-repeat ;
background-color: #fff ;
}

.row1{
}

.profile{
z-index: 3;
background-color: #fff;
text-align: center ;
position: fixed ;
width: 225px ;
float: left ;
height: 100vh;
}

.profile .content img{
margin: auto ;
height: 250px ;
}

.profile .content {
margin-top: 20px ;
} 

.profile h3{
color: #000 ;
}

.profile p{
color: #000;
}

.profile ul{
list-style-type: none ;
}

.profile li{
color: #a8a8c0 ;
}


#info_nav_break{
height: 100px ;
}

.navigation .nav-pills a{
color: #604860;
background: #fff ;
border-width: 1px ;
border-color: #fff ;
border-style: solid ;
}

.navigation .nav-pills a:hover{
color: #604860;
background: #fff ;
border-color: #604860;
border-width: 1px ;
border-style: solid ;
}

#contactRay{
border-radius: 300px ;
background-color: #604860 ; 
color: #fff;
border-width: 5px ;
border-color: #604860 ;
} 

#contactRay:hover{
border-color: #604860 ;
border-width: 5px ;
background-color: #fff ; 
color:#604860;
border-radius: 300px ;
}

.info{
background: none ;
padding-top: 30% ;
height: 100vh;
}

.row2{
position: absolute ;
top: 1100px ;
}

.about {
background-color: #fff ;

}


.jumbotron {
color: #fff ;
text-shadow: 2px 2px 5px #786078 ;
}

.jumbotron ul{
display: inline ;
}

.jumbotron .break{
height: 2px ;
width: 80% ;
margin: 0px 5px 20px 5px ;
background-color: #fff;
}

.jumbotron .btn{
background-color: #fff ;
border-radius: 50% ;
color: #786078 ;
height: 50px ;
width: 50px ;
}

h1{
color: #604860 ;
}

h3{
color: #786078 ;
}

.project div{
border-left: solid ;
border-color: #604860 ;
}


.break{
background-color: #604860 ;
height: 5px ;
}

.footer{
background-color: #604860 ;
height: 100px ;
top-margin: 200px ;
border-radius: 5px ;
}

h5{
font-weight: bold ;
}
